/*body {*/
/*  font-family:      Verdana, Geneva, Arial, sans-serif;*/
/*  font-size:        medium;*/
/*  background-color: Cornsilk;*/
/*  margin-top:       2%;*/
/*  margin-bottom:    5%;*/
/*  margin-left:      10%;*/
/*  margin-right:     10%;*/
/*  border:           1px dotted gray;*/
/*  padding:          10px 10px 10px 10px;*/
/*}*/
body {
    /*color: black;*/
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    background-color: #353535;
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: 600;
}

/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/

a img {
    border: 0;
}

h2 {
    font-size: 150%;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    caption-side: bottom;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    text-align: left;
}

.copyright {
    font-size: 75%;
    font-style: italic;
}

.slogan {
    font-size: 75%;
    font-style: italic;
}

.confirmentry {
    font-weight: 600;
}

/*** Tables ***/

table {
    font-size: 1em;
    background-color: #fafcff;
    border: 1px solid #909090;
    color: #2a2a2a;
    padding: 5px 5px 2px;
    border-collapse: collapse;
}

td, th {
    border: thin dotted gray;
}

/*** Inputs ***/
input[type=text] {
    font-size: 115%;
    width: 30em;
}

input[type=submit] {
    font-size: 125%;
}

select {
    font-size: 125%;
}

div.header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    height: 100%;
    margin-top: 10px;
    /*margin-top: 2%;*/
    /*border-radius: 7px;*/
    /*margin-bottom: 5%;*/
    margin-left: 5%;
    margin-right: 5%;
    /*border: 1px dotted gray;*/
    /*padding: 10px 10px 10px 10px;*/
}

div.none_flex_header {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*display: flex;*/
    /*height: 100%;*/
    /*margin-top: 2%;*/
    /*margin-bottom: 5%;*/
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

span.header_name {
    color: black;
    font-size: 20px;
    /*border-radius: 7px;*/
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    /*font-size: large;*/


    background-color: Grey;
    /*background-color: #257985;*/


    /*margin-top: 2%;*/
    /*margin-bottom: 5%;*/
    /*margin-left:      0;*/
    /*margin-right: 10%;*/
    width: 25%;
    text-align: center;
    /*height: 50px;*/
    /*border: 1px dotted gray;*/
    /*padding: 40px 10px 10px 30px;*/
    padding: 10px 10px 10px 10px;
    padding-top: 15px;
    /*align-content: center;*/
    /*align-items: center*/
}

span.search_field {
    font-family: Verdana, Geneva, Arial, sans-serif;
    /*font-size: medium;*/
    color: black;


    /*background-color: #5EA8A7;*/
    background-color: #FF8D40;


    /*margin-top:       2%;*/
    /*margin-bottom: 5%;*/
    /*margin-left: 0;*/
    /*margin-right: 10%;*/
    /*border: 1px dotted gray;*/
    width: 55%;
    padding: 10px 10px 10px 10px;
    /*padding-bottom: 5%;*/
    /*position:absolute;*/
    /*left: auto;*/
    /*height: 100px;*/
}


span.menu {
    /*font-size: medium;*/

    /*background-color: #5EA8A7;*/
    background-color: #FF8D40;

    /*margin-top:       2%;*/
    /*margin-bottom: 5%;*/
    /*margin-left: 30%;*/
    /*margin-right: 10%;*/
    /*border: 1px dotted gray;*/
    /*padding: 10px 10px 10px 10px;*/
    width: 10%;
    left: 100px;

}

span.otch {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    /*font-size: medium;*/


    /*background-color: #5EA8A7;*/
    background-color: #FF8D40;


    /*margin-top:       2%;*/
    /*margin-bottom: 5%;*/
    /*margin-left: 30%;*/
    /*margin-right: 10%;*/
    /*border: 1px dotted gray;*/
    /*padding: 10px 10px 10px 10px;*/
    width: 10%;
    left: 100px;

}

input[type=text] {
    font-size: 115%;
    width: 60%;
}

div.main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    height: 100%;
}

div.main_flex {
    display: flex;
}

div.main_ {
    /*border-radius: 7px;*/
    display: flex;
    -webkit-box-flex: 1;
}

span.otch {
    /*padding-top: 50%;*/
    padding-top: 17px;
    color: black;
    text-align: center;
}

a:link {
    color: orange;
}
a.black
{
    color: #0f0f0f;
}
a:visited {
    color: orange;
}
div.sved
{
    margin-left: 5%;
    margin-top: 2%;
    color: white;
}
a:focus {
    /*border-bottom: 1px solid;*/
    /*background: #BAE498;*/
}

a:hover {
    /*border-bottom: 1px solid;*/
    /*background: black;*/
}

a:active {
    /*background: #265301;*/
    color: orange;
}

/*a {*/
/*   display: inline-block;*/
/*   text-decoration: none;*/
/*   text-transform: uppercase;*/
/*   font-size: 20px;*/
/*   font-family: 'Montserrat', sans-serif;*/
/*   transition: 0.4s ease-in-out;*/
/*}*/
div.main_left {
    border-radius: 7px;
    padding-left: 1%;
    background-color: Snow;
    /*min-height: 100%;*/
    width: 70%;
}

div.main_right {
    /*text-align: center;*/
    width: 30%;
    margin-left: 10px;
}

div.main_right_first {
    border-radius: 7px;
    background-color: Snow;
    padding-left: 10px;
    width: 100%;
    /*min-height: available;*/
    /*min-height: 57%;*/
    /*min-height: auto;*/
}

div.content {
    margin-left: 10px;
    margin-right: 10px;
}

div.main_right_second {
    border-radius: 7px;
    /*height: fill;*/
    /*min-height: 50%;*/
    background-color: Snow;
    margin-top: 10px;
    width: 100%;
    /*min-height:;*/
}

div.reg_deyat {
    display: flex;
}

div.reg {
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

div.deyat {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

div.main_first {
    padding-left: 10px;
    line-height: 1.5;
    padding-top: 10px;
}

div.main_second {
    /*display: flex;*/
    line-height: 1.5;
    padding-top: 20px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

div.main_second_left {
    width: 50%;
}

div.main_second_right {
    width: 50%;
    line-height: 1.5;
}

div.main_right_rekv {
    display: flex;

}

div.main_second_left_second {
    display: flex;
}

div.one {
    line-height: 1.5;
    /*width: 50%;*/
    /*text-align: center;*/
}

span.one {
    line-height: 1.5;
    width: 50%;
    text-align: center;
}

div.main_second_third {
    line-height: 1.5;
    /*margin-top: 2%;*/
    padding-top: 10px;
}

div.kapital {
    line-height: 1.5;
    /*margin-top: 2%;*/
    padding-top: 10px;
}

div.title {
    text-align: center;
}

div.other_info {
    /*width: 70%;*/
    /*display: flex;*/
    margin-top: 10px;
    background-color: Snow;
    border-radius: 7px;
    /*border-bottom-right-radius: 7px;*/
    /*border-bottom-left-radius: 7px;*/
}

div.other_info_flex {
    display: flex;
    /*margin-top: 10px;*/
    background-color: Snow;
}

div.other_first {
    padding-top: 1%;
    padding-left: 1%;

}

div.other_second {
    padding-top: 1%;
    padding-left: 1%;
    margin-left: 30px;

}

div.color_red {

    color: red;
}

div.footer {
    color: black;
    font-size: 13px;
    border-radius: 7px;
    background-color: #C7E7E6;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

div.footer_flex {
    display: flex;
}

div.footer_first {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
}

div.footer_second {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
}

div.footer_third {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 40%;
}

div.index_left {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: Snow;
    border-radius: 7px;
    width: 50%;

    margin-right: 1%;
}

div.index_right {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: Snow;
    border-radius: 7px;
    width: 50%;
    margin-left: 1%;
}

ul {
    line-height: 1;
}