/*body {*/
/*  font-family:      Verdana, Geneva, Arial, sans-serif;*/
/*  font-size:        medium;*/
/*  background-color: Cornsilk;*/
/*  margin-top:       2%;*/
/*  margin-bottom:    5%;*/
/*  margin-left:      10%;*/
/*  margin-right:     10%;*/
/*  border:           1px dotted gray;*/
/*  padding:          10px 10px 10px 10px;*/
/*}*/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    /*background-color: Cornsilk;*/
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: 0;
}

h2 {
    font-size: 150%;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    caption-side: bottom;
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    text-align: left;
}

.copyright {
    font-size: 75%;
    font-style: italic;
}

.slogan {
    font-size: 75%;
    font-style: italic;
}

.confirmentry {
    font-weight: 600;
}

/*** Tables ***/

table {
    font-size: 1em;
    background-color: #fafcff;
    border: 1px solid #909090;
    color: #2a2a2a;
    padding: 5px 5px 2px;
    border-collapse: collapse;
}

td, th {
    border: thin dotted gray;
}

/*** Inputs ***/
input[type=text] {
    font-size: 115%;
    width: 30em;
}

input[type=submit] {
    font-size: 125%;
}

select {
    font-size: 125%;
}


input[type=text] {
    font-size: 115%;
    width: 60%;
}

div.main {
    /*margin-left: 5%;*/
    margin-right: 5%;
    margin-top: 10px;
    height: 100%;
}

div.main_ {
    display: flex;
    -webkit-box-flex: 1;
}
span.otch
{
    /*padding-top: 50%;*/
    padding-top: 17px;
    color: black;
    text-align: center;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:focus {
  /*border-bottom: 1px solid;*/
  /*background: #BAE498;*/
}

a:hover {
  /*border-bottom: 1px solid;*/
  /*background: black;*/
}

a:active {
  /*background: #265301;*/
  color: black;
}
/*a {*/
/*   display: inline-block;*/
/*   text-decoration: none;*/
/*   text-transform: uppercase;*/
/*   font-size: 20px;*/
/*   font-family: 'Montserrat', sans-serif;*/
/*   transition: 0.4s ease-in-out;*/
/*}*/
div.main_left {
    padding-left: 1%;
    /*background-color: Snow;*/
    width: 70%;
}


div.main_first {
    line-height: 1.5;
    padding-top: 10px;
}

div.main_second {
    display: flex;
    line-height: 1.5;
    padding-top: 10px;
}

div.main_second_left {
    width: 50%;
}

div.main_second_right {
    width: 50%;
    line-height: 1.5;
}

div.main_second_left_first {
    display: flex;

}

div.main_second_left_second {
    display: flex;
}

span.one {
    line-height: 1.5;
    width: 50%;
    text-align: center;
}

div.main_second_third {
    line-height: 1.5;
    /*margin-top: 2%;*/
    padding-top: 10px;
}

div.title {
    text-align: center;
}

div.other_info {

    padding-top: 1%;
    padding-left: 1%;
    margin-top: 10px;
    /*background-color: Snow;*/
}
div.color_red
{
    color: red;
}