{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='mystyle.css')}}">
{% endblock %}
{% block content %}
<div class="header">
    <span class="header_name">
        {% if data.name%}
        {{data.name}}
        {%endif%}
    </span>
    <span class="search_field">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            {{ form.search_field.label }}
            {{ form.search_field }}
            {% for error in form.search_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {{ form.submit() }}
    </form>
    </span>
    <span class="menu">

    </span>
    <span class="otch">
        <a href="{{url_for('otchet',data = data) }}">Скачать отчет</a>
    </span>
</div>
<div class="main">

    {% block app_content %}{% endblock %}
</div>
{% endblock %}