{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="main_flex">
    <div class="index_left">
        <b>Онлайн сервис для проверки контрагентов</b><br><br>

        Помогает быстро получить необходимые сведения о контрагенте.
        В нашем сервисе собрана информация из официальных государственных источников.
    </div>
    <div class="index_right">
        <b>Удобный поиск по ИНН организации</b><br><br>
        Наш сервис содержит:<br><br>
        <ul>
        <li>Данные о банкротстве</li><br>
        <li>Сведения о задолженностях</li><br>
        <li>Данные о массовости адреса</li><br>
        <li>Информация о видах деятельности</li><br>
        <li>Сведения из ЕГРЮЛ</li><br>
        </ul>
    </div>
</div>

{% endblock %}
